#Editors
.idea
*.iml
.fleet
.vscode
.vs
nbproject
/.project
/.settings
/.buildpath
*.sublime-workspace
*.sublime-project

#Composer and npm packages
vendor
node_modules
composer.lock
package-lock.json
npm-debug.log

#Php unit
.phpunit.result.cache
.phpunit.cache
phpunit.xml.bak
coverage.xml
/coverage

#Windows
Thumbs.db

#Mac
.DS_Store       

#Linux
*~

#Miscellaneous
*.log
*.swp
*.bak
*.tmp
*.orig
*.pid
*.seed  
*.coverage
*.cache
/logs
.env
.env.local  

/stubs

#sqlite databases
*.db
